@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
    opacity: 95%;
    width: 100%;
    height: 100px;
    background: grey;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    position: fixed;
}
h1 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

#background {
background-image: red;
}

#index_image {
    padding-top: 10px;
    padding-bottom: 0px;
    width: 100%;
    object-fit: cover;
}

strong {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#moth {
    padding-top: 10px;
    width: 50px;
    height: 28px;
}
#branding {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

li {
    display: flex;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

#logo {
    /* align-items: center; */
    font-family: 'Amatic SC', cursive;
    line-height: 90%;
    font-size: 50px;
    color: white;
    padding: 0px 10px;
}

.menu {
    /* padding: 0px 20px; */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.menu:hover a:hover {
    color: white;
}
/*********************************/

body {

    background-color: black;
    height: 100vh;
}

section {
    padding: 150px 50px;
    /* display: flex;
    flex-direction: column; */
    /* min-height: 100vh; */
    /* height: calc(100vh - 200px); */
}


#resume {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    color: white;
}
p {
    background-color: black;
    /* padding: 10px 100px; */
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-align: left;
}

#portfolio {
    /* width: 100%; */
    /* padding-top: 105px; */
    /* padding-bottom: 110px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

#blog {
 width: auto;
}

.blog_image {
    padding-top: 10px;
    padding-bottom: 2px;
    width: 100%;
    object-fit: cover;

}
.portfolio_image {
    padding-top: 20px;
    width: 100%;
    object-fit: cover;

}

/*********************************/

.contact-section {
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    padding-top: 50px;
}

.contact-form {
    overflow: hidden;
}

.contact-form-text {
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    box-sizing: border-box;
    width:100%;
    margin: 10px 0;
    padding: 10px 20px;
    /* outline: none; */
    /* background: grey; */
}

#send-btn {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}
footer {
    display: flex;
    background-color: gray;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer_links {
    padding: 0px 7px;
}

i {
    color: rgb(53, 53, 53);
    animation-duration: 5s;
    z-index: 0;
}

i:hover {
    color: white;
}

@media screen and (min-width: 768px) {
    #portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #portfolio div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .portfolio_image {
        width: 25%;
    }
}

